<head>

	<meta charset="utf-8">

	<title>стр9</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	

</head>

<header>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-4 hidden-xs">
				<nav class="headder__nav">
					<ul class="clearfix">
						<li class="nav__item nav__item_active"><a href="#">Лента новостей</a></li>
						<li class="nav__item"><a href="#">Термины</a></li>
						<li class="nav__item"><a href="#">Цели</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-6 col-sm-8">
				<div class="profile clearfix">
					<div class="col-md-4 col-sm-4 col-xs-4 logo">
						<img class="img-responsive" src="img/avatar-1.png" alt="Фото профиля">
					</div>
					<div class="logo480">
						<img class="img-responsive" src="img/avatar-1.png" alt="Фото профиля">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 profile__info">
						<h1>Ivan Ivanov</h1>
						<p>Новичок — 50 баллов</p>
						<a href="#">
							<img class="icons icons__stat" src="img/set-1.png" alt="Настройки">
							<div class="icons__hov">
								<img class="icons" src="img/set-2.png" alt="Настройки">
								<p class="comment">Настройки</p>
							</div>
						</a>
						<a href="#">
							<img class="icons icons__stat" src="img/add-1.png" alt="Добавить">
							<div class="icons__hov">
								<img class="icons" src="img/add-2.png" alt="Настройки">
								<p class="comment">Добавить</p>
							</div>
						</a>
						<a href="#">
							<img class="icons icons__stat" src="img/admi-1.png" alt="Админка">
							<div class="icons__hov">
								<img class="icons" src="img/admi-2.png" alt="Настройки">
								<p class="comment">Админка</p>
							</div>
						</a>
					</div>
					<div class="disp480 pull-left">
						<h1>Ivan Ivanov</h1>
						<p>Новичок — 50 баллов</p>
						<a href="#">
							<img class="icons icons__stat" src="img/set-1.png" alt="Настройки">
							<div class="icons__hov">
								<img class="icons" src="img/set-2.png" alt="Настройки">
								<p class="comment">Настройки</p>
							</div>
						</a>
						<a href="#">
							<img class="icons icons__stat" src="img/add-1.png" alt="Добавить">
							<div class="icons__hov">
								<img class="icons" src="img/add-2.png" alt="Настройки">
								<p class="comment">Добавить</p>
							</div>
						</a>
						<a href="#">
							<img class="icons icons__stat" src="img/admi-1.png" alt="Админка">
							<div class="icons__hov">
								<img class="icons" src="img/admi-2.png" alt="Настройки">
								<p class="comment">Админка</p>
							</div>
						</a>
					</div>
					<div class="col-md-2 col-xs-2 non-disp480">
						<a href="#">
							<p class="exit">Выйти</p>
						</a>
					</div>
					<div class="disp480 pull-right">
						<a href="#">
							<p class="exit">Выйти</p>
						</a>
					</div>
				</div>
				<div class="hidden-lg hidden-md hidden-sm col-xs-12">
					<nav class="headder__nav">
						<ul class="clearfix">
							<li class="nav__item nav__item_active"><a href="#">Лента новостей</a></li>
							<li class="nav__item"><a href="#">Термины</a></li>
							<li class="nav__item"><a href="#">Цели</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container">
	<section class="first__new">
		<div class="inner__section">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="profile blacklist clearfix">
				<div class="row">
					<div class="col-md-2 col-sm-2 col-xs-4">
						<img class="img-responsive" src="img/avatar-1.png" alt="Фото профиля">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-8">
						<h1>Ivan Ivanov</h1>
						<div class="newman" style="font-weight: 600;">Новичок — 50 баллов</div>	
						<div class="forinfo">
							<p>
							<srtong  style="font-weight: 600;">E-mail: </srtong>IvanovIvan@mail.ru</p>
							<p>
							<strong>Дата регистрации: </strong>12.12.2012</p>
							<p><strong>Количество прочитанных статей: </strong>14</p>
							<br>
							<br>
							<br>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 hidden-xs">
						<div class="btn9">Заблокировать</div>
					</div>
													<div class="row">
														<div class="hidden-lg hidden-md hidden-sm col-xs-3">
															
														</div>
														<div class="hidden-lg hidden-md hidden-sm col-xs-6">
															<div class="btn9">Заблокировать</div>
														</div>
													</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</div>
<div class="container">
	<section class="first__new">
		<div class="inner__section">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="profile blacklist clearfix">
				<div class="row">
					<div class="col-md-2 col-sm-2 col-xs-4">
						<img class="img-responsive" src="img/avatar-1.png" alt="Фото профиля">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-8">
						<h1>Ivan Ivanov</h1>
						<div class="newman" >Новичок — 50 баллов</div>	
						<div class="forinfo">
						<p><srtong style="font-weight: 600;">E-mail: </srtong>IvanovIvan@mail.ru</p>
						<p><strong>Дата регистрации: </strong>12.12.2012</p>
						<p><strong>Количество прочитанных статей: </strong>14</p>
						</div>
						<br>
							<br>
							<br>
					</div>

					<div class="col-md-4 col-sm-4 hidden-xs">
						<div class="btn8">Разблокировать</div>
					</div>

					<div class=" hidden-lg hidden-md hidden-sm col-xs-3">
						
					</div>
					<div class="hidden-lg hidden-md hidden-sm col-xs-6">
						<div class="btn8">Разблокировать</div>
					</div>

				</div>
			</div>
		</div>
		</div>
		</div>
	</section>
</div>


<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>© 2017, Все права защищены</p>
			</div>
		</div>
	</div>
</footer>

<link rel="stylesheet" href="css/main.min.css">
<script src="js/scripts.min.js"></script>

</body>
</html>
