<head>

	<meta charset="utf-8">

	<title>стр2</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body {
		opacity: 0;
		overflow-x: hidden;
	}

	html {
		background-color: #fff;
	}</style>

</head>
<body>

<header>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-4 hidden-xs">
				<nav class="headder__nav">
					<ul class="clearfix">
						<li class="nav__item nav__item_active"><a href="#">Лента новостей</a></li>
						<li class="nav__item"><a href="#">Термины</a></li>
						<li class="nav__item"><a href="#">Цели</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-6 col-sm-8">
				<div class="profile clearfix">
					<div class="col-md-4 col-sm-4 col-xs-4 logo">
						<img class="img-responsive" src="img/avatar-1.png" alt="Фото профиля">
					</div>
					<div class="logo480">
						<img class="img-responsive" src="img/avatar-1.png" alt="Фото профиля">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 profile__info">
						<h1>Ivan Ivanov</h1>
						<p>Новичок — 50 баллов</p>
						<a href="#">
							<img class="icons icons__stat" src="img/set-1.png" alt="Настройки">
							<div class="icons__hov">
								<img class="icons" src="img/set-2.png" alt="Настройки">
								<p class="comment">Настройки</p>
							</div>
						</a>
						<a href="#">
							<img class="icons icons__stat" src="img/add-1.png" alt="Добавить">
							<div class="icons__hov">
								<img class="icons" src="img/add-2.png" alt="Настройки">
								<p class="comment">Добавить</p>
							</div>
						</a>
						<a href="#">
							<img class="icons icons__stat" src="img/admi-1.png" alt="Админка">
							<div class="icons__hov">
								<img class="icons" src="img/admi-2.png" alt="Настройки">
								<p class="comment">Админка</p>
							</div>
						</a>
					</div>
					<div class="disp480 pull-left">
						<h1>Ivan Ivanov</h1>
						<p>Новичок — 50 баллов</p>
						<a href="#">
							<img class="icons icons__stat" src="img/set-1.png" alt="Настройки">
							<div class="icons__hov">
								<img class="icons" src="img/set-2.png" alt="Настройки">
								<p class="comment">Настройки</p>
							</div>
						</a>
						<a href="#">
							<img class="icons icons__stat" src="img/add-1.png" alt="Добавить">
							<div class="icons__hov">
								<img class="icons" src="img/add-2.png" alt="Настройки">
								<p class="comment">Добавить</p>
							</div>
						</a>
						<a href="#">
							<img class="icons icons__stat" src="img/admi-1.png" alt="Админка">
							<div class="icons__hov">
								<img class="icons" src="img/admi-2.png" alt="Настройки">
								<p class="comment">Админка</p>
							</div>
						</a>
					</div>
					<div class="col-md-2 col-xs-2 non-disp480">
						<a href="#">
							<p class="exit">Выйти</p>
						</a>
					</div>
					<div class="disp480 pull-right">
						<a href="#">
							<p class="exit">Выйти</p>
						</a>
					</div>
				</div>
				<div class="hidden-lg hidden-md hidden-sm col-xs-12">
					<nav class="headder__nav">
						<ul class="clearfix">
							<li class="nav__item nav__item_active"><a href="#">Лента новостей</a></li>
							<li class="nav__item"><a href="#">Термины</a></li>
							<li class="nav__item"><a href="#">Цели</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container">
	<section class="first__new">
		<div class="inner__section">
			<div class="news-item">
				<div class="row">
					<div class="col-md-12 col-sm-12" style="text-align: center;">
						<h2>Google заинтересована в покупке Slack больше, чем Amazon</h2>
					</div>
				</div>
					<div class="bottom__line" style="border-bottom: 1px solid #eaeaea;">
					<div class="row" >
						<div class="col-md-3 col-sm-3 hidden-xs" style="padding-top: 26px;">
							<div class="number">
								<p>21 июля в 21:20</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 hidden-xs" style=" padding-top: 22px;">
							<div class="number">
								<img src="img/comm.png" alt="Комментарий">
								<p>12 комментариев</p>
							</div>
						</div>
						<div class="col-md-2 col-sm-3 hidden-xs" style="padding-top: 22px;">
							<div class="number view pull-left">
								<img src="img/view.png" alt="Глаз">
								<p>135</p>
							</div>
							<div class="number like pull-right">
								<img class="like__stat" src="img/like-1.png" alt="Сердце">
								<img class="like__hov" src="img/like-2.png" alt="Сердце">
								<p>75</p>
							</div>
						</div>

						 <!-- для маленьких экранов иконки коментов и пр. ниже.  --> 

						<div class="hidden-lg hidden-md hidden-sm col-xs-2" style=" padding-top: 22px; padding-right: 0px; padding-left: 5px;">
							<div class="number">
								<img src="img/comm.png" alt="Комментарий">
								<p>12</p>
							</div>
						</div>
						
						<div class="hidden-lg hidden-md hidden-sm col-xs-5" style="padding-top: 22px;">
							<div class="number pull-left">
								<img src="img/view.png" alt="Глаз">
								<p>135</p>
							</div>
							<div class="number like pull-right">
								<img class="like__stat" src="img/like-1.png" alt="Сердце">
								<img class="like__hov" src="img/like-2.png" alt="Сердце">
								<p>75</p>
							</div>
						</div>
					<!-- кнопка одна на всё.   -->  
						<div class="col-md-3 col-sm-3 col-xs-5 pull-right">
						<div class="category">Категория 1</div>
						</div>

					</div>
				</div>
			</div>
			<div class="pages">
				<div class="row">
							<div class="col-md-2 col-md-2 col-sm-2 col-xs-4"><a href="#">Страница 1</a></div>
							<div class="col-md-2 col-md-2 col-sm-2 col-xs-4"><a href="#">Страница 2</a></div>
							<div class="col-md-2 col-md-2 col-sm-2 col-xs-4"><a href="#">Страница 3</a></div>
				</div>
			</div>
				<div class="img__block">
					<img class="img-responsive" src="img/news-1.png" alt="">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt lorem lacus, et sodales ex luctus sed. Integer eu nisi ligula. Proin euismod, turpis at semper accumsan, orci ex ullamcorper risus, eget mattis augue mi sit amet orci. Nunc sodales lectus sit amet lacus pellentesque pretium. Aliquam laoreet vel augue sed facilisis. In quis risus pretium, fringilla tortor nec, pellentesque mi. Curabitur sed posuere nisi.

				Curabitur bibendum quis velit a aliquet. Proin pretium augue vitae ligula tempus imperdiet. Aliquam a massa porttitor, tempus lacus eget, feugiat enim. Duis id enim sagittis nisl efficitur lobortis eu id lacus. Nulla sed gravida sem, quis sagittis nisl. Duis elit arcu, dignissim at suscipit non, pharetra at sapien. Duis aliquet, odio in sollicitudin rhoncus, nulla ipsum consequat ipsum, et mattis elit orci quis quam. Nunc eros elit, molestie eget porttitor et, ultricies vel orci. Cras porttitor eros nec sem aliquam pharetra. Donec neque felis, vulputate eu lectus nec, lacinia fermentum metus. Donec gravida nec arcu in fringilla.</p><br>
				<div class="row">
				<div class="col-lg-4 col-md-3"></div>
					<div class="col-lg-4 col-md-6"><div class="btn">
					Перейти к следующей странице
				</div></div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>	
				</div>
				<br>
			</div>
		</div>
	</section>
	<section class="first__new">
		<div class="inner__section">
				<h2 style="text-align: center;">Комментарии</h2>
				<div class="profile comment clearfix">
					<div class="col-md-2 col-sm-2 col-xs-2">
						<img class="img-responsive" src="img/avatar-1.png" alt="Фото профиля">
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10">
						<div class="inline">
							<div class="row">
									<span class="autor">Ivan Ivanov</span>
									<span class="statement"> | Новичок-50 баллов</span>
									<span class="deletebutton"><img src="img/del-1.png" alt="delete"></span>
								
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt lorem lacus, et sodales ex luctus sed. Integer eu nisi ligula. Proin euismod, turpis at semper accumsan, orci ex ullamcorper risus, eget mattis augue mi sit amet orci. Nunc sodales lectus sit amet lacus pellentesque pretium. Aliquam laoreet vel augue sed facilisis. </p>
						<div class="likenumber"><img src="img/like-1.png" alt=""> 75</div>
					</div>	
						
				</div>
				<div class="profile comment clearfix">
						<div class="col-md-2 col-sm-2 col-xs-2">
						<img class="img-responsive" src="img/avatar-1.png" alt="Фото профиля">
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10">
						<div class="inline">
							<div class="row">
									<span class="autor">Ivan Ivanov</span>
									<span class="statement"> | Новичок-50 баллов</span>
									<span class="deletebutton"><img src="img/del-1.png" alt="delete"></span>
								
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt lorem lacus, et sodales ex luctus sed. Integer eu nisi ligula. Proin euismod, turpis at semper accumsan, orci ex ullamcorper risus, eget mattis augue mi sit amet orci. Nunc sodales lectus sit amet lacus pellentesque pretium. Aliquam laoreet vel augue sed facilisis. </p></div>
						<div class="likenumber"><img src="img/like-1.png" alt="">127 </div>
				</div>	
				<div class="profile comment clearfix">
					<div class="col-md-2 col-sm-2 col-xs-2">
						<img class="img-responsive" src="img/avatar-1.png" alt="Фото профиля">
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10">
						<div class="inline leavecom">
							<span class="autor"><h3>Ваш комментарий:</h3> </span>
							<span class="statement"></span>
						</div>
						<div class="yourcom"><textarea placeholder="Введите текст сообщения..."></textarea></div>
					</div>
				</div>
			</div>
	</section>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>© 2017, Все права защищены</p>
			</div>
		</div>
	</div>
</footer>

<link rel="stylesheet" href="css/main.min.css">
<script src="js/scripts.min.js"></script>

</body>
</html>
